[submodule "FNA"]
	path = FNA
	url = https://github.com/mingmoe/FNA
[submodule "UniversalNet"]
	path = UniversalNet
	url = https://github.com/mingmoe/UniversalNet
[submodule "Autofac.Extension"]
	path = Autofac.Extension
	url = https://github.com/mingmoe/Autofac.Extension
[submodule "UniversalI18n"]
	path = UniversalI18n
	url = https://github.com/mingmoe/UniversalI18n
[submodule "Moe.TextEngine"]
	path = Moe.TextEngine
	url = https://github.com/mingmoe/Moe.TextEngine
	
[submodule "ResourcesManager"]
	path = ResourcesManager
	url = https://github.com/mingmoe/ResourcesManager
[submodule "Mingmoe.Demystifier"]
	path = Mingmoe.Demystifier
	url = https://github.com/mingmoe/Mingmoe.Demystifier
